<h1>Offered Products</h1>

<strong><%= link_to "New Product", "/products/new" %></strong>
<br>
<br>
<table>
	<tr>
		<th>Name:</th>
		<th>Description:</th>
		<th>Price:</th>

	</tr>

	<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			<!--<td><%= product.price_in_cents %></td> -->
			<!--remove above since we defined formatted_price in the product model that converts the price_in_cents to a price in dollars.see below line. -->
			<td><%= product.formatted_price %></td>
			<td><%= link_to 'Show', product_path(product) %></td>
			<td><%= link_to 'Edit', edit_product_path(product) %></td>
			<td><%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>

</table>