<h1>Product Page</h1>

<p>
	<strong>Name:</strong>
	<%= @product.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>

<p>
	<strong>Price:</strong>
	<!--<%= @product.price_in_cents %> -->
	<!--remove above since we defined formatted_price in the product model that converts the price_in_cents to a price in dollars. see below line-->
	<%= @product.formatted_price %>
</p>


<%= link_to 'Edit Product', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>